<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<html lang="en">
    <head>
        <title>Title</title>
        <h3>About Neohuman Visual Search</h3>

    </head>
    <body>
    Neohuman Visual Search is a search engine leveraging self-supervised deep learning to provide efficient similarity 
    search for entities within images.
    <br>
    This is currently only a small demo with around 5M images from Flickr and a deep learning model that will still need 
    some fine tuning. Given that the image database consists of social media posts, the retrieval works best with pictures 
    of humans, pets etc.
    <br>
    The lowest hanging fruit in terms of improving the performace are 1) to increase the image database size by at least a 
    couple of orders of magnitude and 2) fine tune/ re-train the model (don't quite have the time or resources for that ATM).
    <br>
    <h3>Who did this?</h3>
    Built by Heikki Arponen. I'm a deep learning research scientist and Python developer.
    </body>

</html>
{% endblock %}