<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<html lang="en">
    <head>
        <title>Title</title>
        <h3>About Neohuman Visual Search</h3>

    </head>
    <body>
    Neohuman Visual Search is a search engine leveraging self-supervised deep learning to provide efficient similarity 
    search for entities within images.
    <br>
    This is currently only a small demo with around 5M images from Flickr and a deep learning model that will still need 
    some fine tuning.
    <br>
    <h3>Who did this?</h3>
    Built by Heikki Arponen. I'm a deep learning research scientist and Python developer.
    </body>

</html>
{% endblock %}