<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Title</title>
        <h1>Click "Image" to search for similar images or a number to search for similar things.</h1>

    </head>
    <body>
    <style>
        img {
            width: 50%;
            height: auto;
            max-width: 25vw;
        }
        </style>
    <form class="form-inline" method="post" action="/query_image">
        <input type="submit" name="home" value="Home">
        <input type="submit" name="restart" value="Retake">
        {% for label, num in ids.items() %}
            <input type="submit" name={{ num }} value={{ label }}>
        {% endfor %}
      </form>
    <div class="img">
        <img src="data:image/png;base64,{{ query_img }}"/>
    </div>
    <div class="img-box">
        <img src="{{ retrieval_img_path }}" alt=""/>
    </div>
    </body>

</html>