{% extends 'base.html' %}

{% block content %}
    <p1>Click "Image" to search for similar images or a number to search for similar things.</p1>
    <p1>Bullseye symbol marks the matching entity. If it is missing, then the entire image is the match.</p1>
    <style>
        img {
            width: 50%;
            height: auto;
            max-width: 25vw;
        }
        </style>
    <form class="form-inline" method="post" action="/query_image">
        <button type="submit" name="back" class="btn btn-sm btn-primary">Back</button> &nbsp;
        {% for label, num in ids.items() %}
            <button type="submit" name={{ num }} class="btn btn-sm btn-primary">{{ label }}</button> &nbsp;
        {% endfor %}
      </form>
    
    <section id="photos">
    <div class="img">
        <img src="data:image/png;base64,{{ query_img }}"/>
        {% for image_ret, image_url in images_urls %}
            <a href="{{ image_url }}">
                <img src="data:image/png;base64,{{ image_ret }}" alt=""/>
            </a>
        {% endfor %}
    </div>
    </section>

</html>
{% endblock %}